*.njsproj

node_modules/bindings/
node_modules/bufferutil/
node_modules/endpoint/
node_modules/inherits/
node_modules/inspector/
node_modules/nan/
node_modules/options/
node_modules/ultron/
node_modules/utf-8-validate/
node_modules/ws/

inspector_modules
build
package-lock.json

# Added by Homey CLI
/.homeybuild/