button {
    display: block !important;
}

#progress {
    width: 0%;
    height: 200px;
    background: #4BD763;
    display: block;
    margin: 0;
    position: absolute;
    padding: 0;
    top: -10px;
    left: 0;
    z-index: -1;
}

#log {
    padding: 10px;
}