html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

html,
body, 
app {
    margin: 0 !important;
    padding: 0 !important;
}

.benefit {
    margin: 0;
    padding-left: 10px;
    line-height: 40px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section {
    margin: 10px 0px !important;
    padding: 0 !important;
    display: block !important;
    border: none !important;
    border-top: 1px solid rgb(220,220,220) !important;
    border-radius: 0 !important;
}
.section > legend {
    text-transform: uppercase !important;
    color: rgb(220,220,220) !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size: medium !important;
}

main-list,
main-list > ul,
ol, ul {
    padding-left: 0px !important;
}
.main-list li {
    margin: 0 !important;
    padding: 0 !important;
}
.main-list > li {
    margin-top: 10px !important;
}

.devices {
    background: white;
}

.loader {
    width: 100%;
}
.loader > svg {
    display: block;
    margin: 30px auto;
    width: 50px;
}

.icon-cell {
    width: 60px;
    display: table-cell-block !important;
    vertical-align: middle;
}
.icon-cell > * {
    margin: auto;
    display: block;
}

.tabs {
    height: 40px !important;
    border-bottom: 1px solid rgb(220,220,220);
}

.tab-content {
    position: absolute;
    top: 41px;
    bottom: 0px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

select,
input[type=text] {
    border: none !important;
    width: 100% !important;
    padding: 10px !important;
    font-size: large !important;
    vertical-align: middle !important;
    background: white !important;
}

button {
    width: 99%;
    position: relative;
    margin: 2px 0 0 2px;
    
    padding: 10px !important;
    font-size: large !important;
    vertical-align: middle !important;
    border: 1px solid rgb(220,220,220) !important;

    background: none !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    overflow: hidden !important;
}
button:hover {
    cursor: pointer;
}

#hy-nav-prev,
#hy-nav-next {
    display: block !important;
    width:40% !important;
    margin: 6px !important;
}

#hy-nav-prev.visible,
#hy-nav-prev.visible {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

/*button:hover {
    background:  rgb(220,220,220) !important;
}*/
button:active {
    background-color: rgba(160, 160, 160, 1) !important;
    color: white;

    /*background: none !important;*/
    box-shadow: none;
}
button:disabled,
button[disabled] {
    /*background: rgb(220,220,220) !important;
    opacity: 0.3;*/
     color: rgba(0, 0, 0, 0.50);
}

.text-header {
    padding: 10px;
    text-transform: uppercase;
    /*background-color: rgba(245, 245, 245, 1);*/
    background-color: rgba(160, 160, 160, 1);
    color: white;
    font-weight: bold;
    /*width: 100%;*/
    text-align: center;
}

.text-description {
    color: rgb(109,109,113);
    padding-left: 10px;
    padding-right: 10px;
    -webkit-text-size-adjust: 90%;
}

.background {
    background-color: rgb(239,239,243)
}
.setting {
    padding-bottom: 10px;
    margin: 0;
}

.settings-spacer {
    height: 10 px;
    display: inline-block;
}
.settings-itemgroup {
    display: block;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(230,230,230);
    border-radius: 2px;
    margin: 1px;
    overflow: hidden;
}

.settings-item {
    display: table-row;
    background-color: rgb(255,255,255);
}

.settings-item-description {
    display: block;
    margin-top: 7px;
    padding: 3px 10px;
    font-size: smaller;
}

.settings-item-image {
    display: table-cell;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.settings-item-text {
    display: table-cell;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: middle;
    white-space: nowrap;
    font-family: -apple-system sans-serif;
    font-size: large;
}

.settings-item-last {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: right;
    color: rgb(199,199,203);
    padding-right: 10px;
    font-size: 17px;
}

.settings-item-divider {
    display: table-cell;
    margin-left: 75px;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: rgb(199,199,203);
}


h2 {
    font-size: 16px;
    font-weight: 400;
}

th {
    background-color: rgb(220, 220 , 220);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}

.wide {
    width: 160px;
}

.middle {
    width: 65px;
    margin-right: 3px;
}

.narrow {
    width: 40px;
    margin-right: 3px;
}

.indicator {
    display: inline-block;
    padding: 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    width: 300px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}

.btn-active {
    color: rgb(0, 0, 0);
    background-color: rgb(92, 184, 92) !important;
    border-color: rgb(76, 174, 76) !important;
}

.btn-semiactive {
    color: rgb(0, 0, 0);
    background-color: rgb(167, 211, 167);
    border-color: rgb(157, 218, 157);
}

.btn-inactive {
    color: rgb(0, 0, 0);
    background-color: rgb(220, 220 , 220);
    border-color: rgb(200, 200, 200);
}

.btn-disable {
    color: rgb(220, 220, 220);
    background-color: rgb(240, 240 , 240);
    border-color: rgb(220, 220, 220);
}

.ind-alarm {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}

.tab {
    display: table-cell;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    width: 25%;
    height: 100%;
    border-bottom: 2px solid #4BD763;
}

.tab-active {
    color: rgb(0, 0, 0);
    /*background-color: rgb(239, 239 , 243);*/
    border-bottom: 2px solid #4BD763;
}

.tab-inactive {
    color: rgb(0, 0, 0);
    /*background-color: rgb(255, 255, 255);*/
    border-bottom: 2px solid white;
    font-weight: normal;
}

.tab-unused {
    border-bottom: 1px solid rgb(200,200,200);   
}

.sTable {   	
    display: table;   	
    width: calc(100% - 2px); 
}

.sTableRow {   	
    display: table-row; 
    margin: 0px;
    border-top: 1px solid rgb(220,220,220);
    border-left: 1px solid rgb(220,220,220);
    border-right: 1px solid rgb(220,220,220);            
}

.sTableCell {   	
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 2;
    padding: 6px 4px;
    margin: 0px;
    vertical-align: top;
    white-space: nowrap;
    width: 70%;
}

.iTableRow {   	
    display: table-row; 
    margin: 0;
    border-top: 1px solid rgb(220,220,220);
    border-left: 1px solid rgb(220,220,220);
    border-right: 1px solid rgb(220,220,220);            
}
.rTable {
    display: table;
    width: calc(100% - 2px);
    height: 100%;
} 

.rTableRow {   	
    display: table-row; 
    margin: 0;
    border-bottom: 1px solid rgb(220,220,220);
    border-left: 1px solid rgb(220,220,220);
    border-right: 1px solid rgb(220,220,220);      
} 


.rTableCell {   	
    display: table-cell;   	
    padding: 6px;
    vertical-align: middle;
    white-space: nowrap;
}

.line{
    border-bottom: 1px solid rgb(220,220,220);
}

.inputs label {
    display: inline-block;
    width: 45%;
    text-align: left;
}

.inputs input {
    height: 13px;
    font-size: 12px;
    font-weight: 400;
}
.rTableCellLast{
    width: 25%;
}

.rTableHead {
    background: rgb(255,255,255);
    font-weight: bold;
}

.rTableHeading {   	
    display: table-header-group;   	
    background-color: #ddd;   	
    font-weight: bold; 
} 

.rTableFoot {   	
    display: table-footer-group;   	
    font-weight: bold;   	
    background-color: #ddd; 
} 
  
.rTableBody {   	
    display: table-row-group; 
}

.scrollable-text {
    overflow-y: auto;
    max-width: calc(100vw - 160px);
    white-space: nowrap;
}

.Overflow {
    /*margin-bottom: 1em;*/
    overflow: auto;
    position: relative;
    overflow-x: auto;
}

.mal {
    background-color: rgb(255, 230, 230);
}

.mad {
    background-color: rgb(250, 215, 215);
}

.mdl {
    background-color: rgb(255, 255, 255);
}

.mdd {
    background-color: rgb(250, 250, 250);
}

.mpl {
    background-color: rgb(255, 240, 240);
}

.mpd {
    background-color: rgb(250, 225, 225);
}

.al {
    background-color: rgb(250, 96, 96);
}

.ad {
    background-color: rgb(255, 140, 140);
}

.ao {
    background-color: rgb(140, 255, 140);
}

.aa {
    background-color: rgb(255, 190, 190);
}

.sa {
    background-color: rgb(255, 190, 190);
}

.st {
    background-color: rgb(255, 210, 210);
}

.sd {
    background-color: rgb(190, 255, 190);
}

.lh {
    background-color: rgb(198, 237, 255);  
}

.ll {
    background-color: rgb(227, 246, 255);
}

.ld {
    background-color: rgb(215, 242, 255);
}

.component-battery {
    position: absolute;
    z-index: 1;
    width: 23.1px;
    height: 13.2px;
    line-height: 13.2px;
    font-size: 7px;
    color: rgba(255,255,255,1);
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-align: center;
    margin-left: 6px;
}

.component-battery, .component-battery:after {
    border: 1px solid white;
    box-shadow: inset 0 -4vw 4vw rgba(0,0,0,0.1);
    border-radius: 2.5px;
    box-sizing: border-box;
    transition: all .3s;
}

.component-battery:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 2px;
    bottom: 2px;
    left: 100%;
    width: 3px;
    border-radius: 2.5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0
}

.component-battery.charge-100,.component-battery.charge-100:after  {
    background: #00c900
}

.component-battery.charge-80,.component-battery.charge-80:after {
    background: #51c900
}

.component-battery.charge-60, .component-battery.charge-60:after {
    background: #a1c900
}

.component-battery.charge-40, .component-battery.charge-40:after {
    background: #c9a100
}

.component-battery.charge-20, .component-battery.charge-20:after {
    background: #c95100
}

.component-battery.charge-0, .component-battery.charge-0:after {
    background: #ca0000
}



.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }
