#icon-header {
  padding: 10px;
}

#selected-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  border: 1px solid #ACADB0;
  border-radius: 10px;
}

#selected-icon-img,
#selected-icon-mdi {
  width: 100%;
  height: 100%;
}

#selected-icon-mdi {
    font-size: 60px;
    padding-top: 20px;
    display: block;
}

#icon-select {
    height: calc(100% - 20px);
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  position: absolute;
    left: 115px;
    top: 30px;
    height: 30px;
    font-size: 14px !important;

    border: 1px solid #ACADB0;
    display: inline-block;
    padding: 12px 12px 0 45px;
    cursor: pointer;
}

#upload-icon {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 26px;
  margin-right: 10px;

  /* position: relative;
  top: 4px;
  font-size: 26px;
  margin-right: 10px;
 */
}

.icon-picker-container{
    width: 100%;
    height: calc(100% - 100px);
}

.search-icon {
    position: absolute;
    font-size: 28px;
    opacity: 0.5;
    color: #ACADB0;
    padding: 10px;
}
.search-box { 
    text-indent: 36px;
}

.icons-container {
    height: calc(100% - 45px);
    overflow-x: hidden;
    overflow-y: auto;
}

.icons-container .selected {
  border-radius: 10px;
  background: rgb(63 199 0);
  color: white !important;
  font-weight: bold;
}

  .flex-cell{
    float: left;
    display: block;
    width: 33.3%;
    /* display: flex; */
    /* flex-flow: column; */
    /* flex: 0 1 29%; */
    justify-content: center;
    height: 100px;
    text-align: center;
    transition: 0.5s;
  }
  .flex-cell:hover{
    background-color:gray;
    cursor: pointer;
    border-radius:5px;
    transition: 0.2s;
  }
  .flex-cell:hover .caption{
    color:white;
  }
  .flex-row{
    /* display:flex;
    flex-flow:row wrap;
    justify-content: center; */
  }
  .caption{
      padding:2px;
      color: #757575;
      font-size: 11px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .selected .caption {
    color: white;
    font-weight: bold;
  }

  .iconbox{
    word-wrap:break-word;
    font-size: 48px;
    padding: 16px 0;
    margin-top: 10px;
  } 

